<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="bower_components/boostrap/dist/css/bootstrap.min.css")
        title Document
    body
    div(class="p-3 mb-2 bg-light text-dark")
        nav
            ul(class="nav nav-pills  nav-justified" )
                li(class="nav-item"): a(class="nav-link" href="/" class="text-success") inicio
                li(class="nav-item"): a(class="nav-link" href= "/uno" class="text-success") ejercicio uno
                li(class="nav-item"): a(class="nav-link" href= "/dos" class="text-success") ejercicio dos
                li(class="nav-item"): a(class="nav-link" href= "/tres" class="text-success") ejercicio tres
                li(class="nav-item"): a(class="nav-link" href= "/cuatro" class="text-success") ejercicio cuatro
                li(class="nav-item"): a(class="nav-link" href= "/cinco" class="text-success") ejercicio cinco
                li(class="nav-item"): a(class="nav-link" href= "/seis" class="text-success") ejercicio seis
                li(class="nav-item"): a(class="nav-link" href= "/siete" class="text-success") ejercicio siete
                li(class="nav-item"): a(class="nav-link" href= "/ocho" class="text-success") ejercicio ocho
    br
    br
    div(class= "container")
                div(class="row")
                    div(class="col")
                        h2 Operadores Matematicos
                        p ARITMÉTICOS: Los operadores aritméticos nos permite, básicamente, hacer cualquier operación aritmética, que necesitamos (ejemplo: suma, resta, multiplicación, etc).
                        p Existen operadores aritméticos  binarios y unarios.
                        p Los binarios son:
                        p +: Suma de dos o más valores o variables.
                        p -: Resta de dos o más valores o variables.
                        p *: Multiplicación de dos o más valores o variables.
                        p /: División de dos o más valores o variables.
                        p %: Modulo (obtención del residuo de una división) de dos o más valores o variables.
                        p Los unarios:
                        p ++: Aumenta el valor de una variable en una unidad.
                        p --: Dismuniye el valor de una variable en una unidad.
                        p -: Cambia el signo de una variable, es como multiplicar por -1
                    div(class="col")
                        h2 Operadores Logicos
                        p LÓGICOS: Son operadores de unión, también llamados compuertas lógicas, estos operadores pueden unir dos o más pares de valores comparados por medio de los operadores relaciones:
                        p && : Operador AND (Y) todas las condiciones deben ser verdaderas para que se ejecute una acción.
                        p || : Operador OR (O) de todas las condiciones solo una debe ser verdadera y con  hace determinada acción.
                        p ! : Operador NOT (NO) se niega la afirmación para cambiar su valor, es decir cambia de verdadero a falso y de falso a verdadero.
    br
    br
    
    div(class= "container")
                div(class="row")
                    div(class="col")
                        h2 Condicional IF
                        p En una estructura condicional en la que se indica una condición. si ésta se cumple el programa ejecutará las sentencias incluidas entre corchetes, 
                           si no es así puede que no haga nada o que ejecute otra acción distinta, dependiendo de lo que se le indique.
                        h2 Estructuras Repetitivas 
                        p Las estructuras repetitivas se utilizan cuando se quiere que un conjunto de instrucciones se ejecuten un cierto número finito de veces, por ejemplo, escribir algo en pantalla cierta cantidad de veces, mover un objeto de un punto a otro cierta cantidad de pasos, o hacer una operación matemática cierta cantidad de veces. Se les llama bucle o ciclo a todo proceso que se repite cierto número de veces dentro de un pseudocódigo o un programa y las estructuras repetitivas nos permiten hacerlo de forma sencilla.
                    div(class="col")    
                        h2 switch
                        p es una estructura de control empleada en programación. Se utiliza para agilizar la toma de decisiones múltiples; trabaja de la misma manera que lo harían sucesivos if, if else o until anidados, así como combinaciones propias de determinados lenguajes de programación.

                          El switch no es tan popular como el if, pero se utiliza con regularidad en la programación. En principio la funcionalidad de un switch también se puede implementar con múltiples if anidados. En el caso de que haya muchas acciones dependientes de muchos valores iniciales, es recomendable su uso. El switch favorece la Facilidad y rapidez en la programación.

                          El switch no solo te ayuda en ciertos casos. Si no que te permite realizar " Opciones " Que en un if no lo pudieras hacer nada".   
                        h3 Andres santiago Rocha Cachaya 
                        h4 Ing Software VI semestre

                