<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="bower_components/boostrap/dist/css/bootstrap.min.css")
        title Document
    

    body
    div(class="p-3 mb-2 bg-dark text-white")
        nav
            ul(class="nav nav-pills  nav-justified" )
                li(class="nav-item"): a(class="nav-link" href="/" class="text-light") inicio
                li(class="nav-item"): a(class="nav-link" href= "/uno" class="text-light") ejercicio uno
                li(class="nav-item"): a(class="nav-link" href= "/dos" class="text-light") ejercicio dos
                li(class="nav-item"): a(class="nav-link" href= "/tres" class="text-light") ejercicio tres
                li(class="nav-item"): a(class="nav-link" href= "/cuatro" class="text-light") ejercicio cuatro
                li(class="nav-item"): a(class="nav-link" href= "/cinco" class="text-light") ejercicio cinco
                li(class="nav-item"): a(class="nav-link" href= "/seis" class="text-light") ejercicio seis
                li(class="nav-item"): a(class="nav-link" href= "/siete" class="text-light") ejercicio siete
                li(class="nav-item"): a(class="nav-link" href= "/ocho" class="text-light") ejercicio ocho
    br
    h1(align="center" style="color:#4D4F4F") Suma de 8 números
    br
    p(align="center") Solicitar 8 números diferentes desde un formulario  guardar los números en un arreglo e imprimir la sumatoria de los 8 números.
    br
    form(action="ejercicio7" method="POST")
            -
            div(class= "container")
                div(class="row")
                    div(class="col")
                        input(type="number" name="num1")
                        br
                        input(type="number" name="num2")
                    div(class="col")
                        input(type="number" name="num3")
                        br
                        input(type="number" name="num4")
                    div(class="col")
                        input(type="number" name="num5")
                        br
                        input(type="number" name="num6")
                    div(class="col")
                        input(type="number" name="num7")
                        br
                        input(type="number" name="num8")
            -
            br
            div(class= "container")
                div(class="row")
                    div(class="col")
                        input(style="margin-left: 13.5cm" class="btn btn-light" type="submit", value="Calcular")
    br                    
    h6(align="center") La suma es de: #{suma} 